<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="css/bootstrap-grid-new.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/about-style.css">

    <title>Eco Wave - Sobre Nós</title>
</head>

<body>
    <main>
        <!--Nav Bar-->
        <nav class="nav">
            <i class="uil uil-bars navOpenBtn"></i>
            <img class="logo" src="/logo.png" alt="Logo">
            <ul class="nav-links">
                <i class="uil uil-times navCloseBtn"></i>
                <li>@Html.ActionLink("Inicio","Index","Home");</li>
                <li>@Html.ActionLink("Contato","Contact","Contact")</li>
                <li>@Html.ActionLink("Sobre","AboutUs","AboutUs")</li>
            </ul>
            <i class="uil uil-search search-icon" id="searchIcon"></i>
            <div class="search-box">
                <i class="uil uil-search search-icon"></i>
                <input type="text" placeholder="Buscar..." />
            </div>
        </nav>
        <!--Nav Bar-->
        <div class="section">
            <div class="container">
                <div class="row content-items">
                    <div class="col-12">
                        <div class="section-heading">
                            <div class="section-subheading">Conheça mais sobre nós</div>
                            <h1>Sobre Nós</h1>
                        </div>
                    </div>
                    <div class="col-12 content-item">
                        <div class="about-info section-bgc">
                            <h3>Nossa História</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla
                                tortor et magna dignissim, non ultricies purus porta. Fusce vitae urna justo.
                                Quisque vitae leo quis nunc dapibus venenatis sit amet id justo.</p>
                            <h3>Nossa Missão</h3>
                            <p>Fusce vitae urna justo. Quisque vitae leo quis nunc dapibus venenatis sit amet id
                                justo. Nullam a nisi nec purus aliquet vulputate sit amet quis sapien.</p>
                            <h3>Nossos Valores</h3>
                            <ul>
                                <li>Integridade</li>
                                <li>Inovação</li>
                                <li>Responsabilidade</li>
                                <li>Sustentabilidade</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main -->
    <!-- Script Partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>
    <script src="js/site.js"></script>
</body>

</html>
