<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="/css/bootstrap-grid-new.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="">

    <title>Eco Wave - Sobre Nós</title>
</head>

<body>
    <main>
        <!--Nav Bar-->
        <nav class="nav">
            <i class="uil uil-bars navOpenBtn"></i>
            <img class="logo" src="Cópia de Texto do seu parágrafo.png" alt="Eco Wave ">
            <ul class="nav-links">
                <i class="uil uil-times navCloseBtn"></i>
                <li>@Html.ActionLink("Inicio","Index","Home")</li>
                <li>@Html.ActionLink("Contato","Contact","Home")</li>
                <li>@Html.ActionLink("Sobre","AboutUs","Home")</li>
            </ul>
            <i class="uil uil-search search-icon" id="searchIcon"></i>
            <div class="search-box">
                <i class="uil uil-search search-icon"></i>
                <input type="text" placeholder="Buscar..." />
            </div>
        </nav>
        <!--Nav Bar-->
        <div class="section">
            <div class="container">
                <div class="row content-items">
                    <div class="col-12">
                        <div class="section-heading">
                            <div class="section-subheading">Conheça mais sobre nós</div>
                            <h1>Sobre Nós</h1>
                        </div>
                    </div>
                    <div class="col-12 content-item">
                        <div class="about-info section-bgc">
                            <h3>Nossa História</h3>
                            <p>Somos um grupo de estudantes no ultimo ano da faculdade que fazemos parte do projeto da Global, onde ajudamos a solucianar problemas do mundo, e colocamos ideias em pratica para suprir tal demanda, com isso a EcoWave nasceu!</p>
                            <h3>Nossa Missão</h3>
                            <p>A nossa Missão é tornar o meio ambiente melhor, monitoramos os oceanos com o nosso equipamento, onde iremos pegar os dados da vida marinha na região, nivel de plastico na agua e coletaremos esses dados e analisamos ele para ajudar na região se preciso!</p>
                            <h3>Nossos Valores</h3>
                            <ul>
                                <li>Integridade</li>
                                <li>Inovação</li>
                                <li>Responsabilidade</li>
                                <li>Sustentabilidade</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main -->
    <!-- Script Partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>
    <script src="js/site.js"></script>
</body>

</html>
